.products{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: #e7d6c4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    border: 4px solid black;
    transition: 0.1s;
    box-shadow: 10px 20px #888888;
}

.product-image{
    width: 100%;
    max-width: 400px;
    height: 300px;
    display: block;
    object-fit: cover;
}

.product-name{
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;  
    font-weight: 700; 
    font-size: 50px;
    text-align: center;
    background-color: #e7d6c4;
}

.product-price{
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;   
    font-weight: 400; 
    font-size: 30px;
    text-align: center;
    background-color: #e7d6c4;
}

.button-wrapper{
    background-color: #e7d6c4;
}

.product-add-button{
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: aliceblue;
    padding: 5px 10px;
    border-radius:30px;
    background-color: black;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

.product-add-button:hover{
    color: black;
    background-color: aliceblue;
    transition: 0.7s;
}

.product-add-button:active{
    transform: translateY(20px);
}